@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url("../images/water.jpg");
}

#navbar {
    background: linear-gradient(
        to bottom,
        #55bfec,
        #0E5B96
    );
    display: flex;
    align-items: center;
    font-family: "Yusei Magic", sans-serif;
}

#navbar a {
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 24px;
}

#navbar #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 32px;
    padding-top: 14px;
    padding-bottom: 14px;
}

#navbar a:hover {
    background-color: #0E5B96;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    transition: 
        opacity 0.25s,
        visibility 0.25s;
}

.dropdown-container:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
}

.dropdown-menu a {
    background-color: #0E5B96;
    width: 100%;
    min-width: 200px;
}

#navbar .dropdown-menu a:hover {
    background: #5d98c5;
}

#hero {
    background-image: url("../images/hero1.webp");
    height: 100vh;
    background-size: cover;
    background-position: center right; 
    position: relative;
    z-index: -1;
}

#hero .hero-content {
    position: absolute;
    top: 5%;
    right: 2%;
    text-align: center;
    margin: 46px;
    max-width: 500px;
}

#hero h2 {
    font-size: 36px;
    color: white;
    font-family: "Yusei Magic", sans-serif;
}

#hero h4 {
    font-size: 18px;
    font-weight: normal;
    margin: 24px;
}

#hero a {
    font-size: 16px;
    display: inline-block;
    background-color: #0E5B96;
    color: white;
    border-radius: 24px;
    text-decoration: none;
    padding: 24px;
    font-family: "Yusei Magic", sans-serif;
}

.single-column {
    background-color: #fcfcfc;
    width: 50%;
    width: 500px;
    margin: 50px auto;
    text-align: center;
    border-radius: 24px;
    border: 4px solid #0E5B96;
}

.single-column img {
    width: 400px;
}

.single-column h1 {
    padding-top: 24px;
    color: #0E5B96;
    font-family: "Yusei Magic", sans-serif;
}

.single-column p {
    padding: 0px 24px 24px 24px;
}

@media screen and (max-width: 1150px) {
    #hero .hero-content {
        max-width: 400px;
        top: 2%;
        right: 5%;
        margin: 24px;
    }
}

@media screen and (max-width: 684px) {
    #navbar #logo {
        font-size: 28px;
        padding: 18px;
    }

    .single-column {
        width: 400px;
    }

    .single-column img {
        width: 300px;
    }
}

@media screen and (max-width: 640px) {
    #navbar #logo {
        font-size: 24px;
        padding: 14px;
    }
}

@media screen and (max-width: 494px) {
    #navbar #logo {
        font-size: 24px;
        padding: 14px;
    }

    .single-column {
        width: 350px;
    }

    .single-column img {
        width: 250px;
    }
}