@import url('https://fonts.googleapis.com/css2?family=Neuton:ital,wght@0,200;0,300;0,400;0,700;0,800;1,400&display=swap');
* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
}

.single-center-column {
    font-family: "Neuton", serif;
    font-weight: bold;
    background-color: #ffffff;
    max-width: 800px;
    margin: 0px auto;
    text-align: center;
}

.box-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin: 0px 30px;
    padding: 24px;
    align-items: center;
}

.side-by-side img {
    width: 200px;
}

.single-center-column .heading {
    padding: 20px 0px;
}

.single-center-column .heading h1 {
    font-size: 60px;
    margin: 20px;
}

.single-center-column h1 {
    font-size: 40px;
}

.single-center-column h3 {
    font-size: 30px;
    padding: 0px;
}

.single-center-column h4 {
    font-size: 20px;
}

.cta-1 {
    background-color: #61a52a;
    margin: 20px 150px;
    padding: 4px 0px;
    color: white;
}

.cta-2 {
    background-color: #c00404;
    margin: 20px 150px;
    padding: 4px 0px;
    color: white;
}

.cta-1:hover {
    background-color: #234309;
}

.cta-2:hover {
    background-color: #790707;
}

@media screen and (max-width: 684px) {
    .box-container {
        padding: 0px;
    }

    .information {
        width: 300px;
        margin: auto;
    }
}