@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400..900;1,400..900&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: sans-serif;
    background-image: url("../images/background.jpg");
}

#header {
    background-color: #bb9865;
    display: flex;
    align-items: center;
}

#header a {
    display: inline-flex;
    text-decoration: none;
    color: black;
    padding: 24px;
    font-size: 18px;
    font-family: "Besley", serif;
}

#header #logo {
    margin-right: auto;
    font-weight: bold;
    font-size: 32px;
    padding-top: 14px;
    padding-bottom: 14px;
}

#header .cta-button {
    color: #ffffff;
    background-color: #498463;
    padding: 12px;
    margin-right: 24px;
}

#header .cta-button:hover {
    background-color: #498463b6;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

#header .button:hover {
    color: white;
    text-decoration: underline;
}

#header #logo img {
    width: 100px;
}

#footer {
    background-color: #bb9865;
    color: black;
    padding: 12px;
    display: flex;
    padding: 0px 24px;
    font-family: "Besley", serif;
}

#footer-columns-navbar {
    width: 700px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
}

#footer h3 {
    font-size: 18px;
    font-weight: lighter;
}

#hero {
    background-image: 
        linear-gradient(#a3966f1f, #2019038f),
        url("../images/hero.jpeg");
    height: 75vh;
    background-size: cover;
    background-position: center center ; 
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero .hero-content {
    position: relative;
    justify-content: center;
    top: 16%;
    text-align: center;
    font-family: "Besley", serif;
}

#hero h2 {
    font-size: 72px;
    color: #ffffff;
    margin: 0px;
    text-shadow: 4px 3px 3px #060606;
}

#hero h4 {
    font-size: 30px;
    font-style: italic;
    margin-bottom: 30px;
    color: #ffffff;
    text-shadow: 4px 3px 7px #060606;
}

#hero a {
    font-size: 18px;
    display: inline-block;
    background-color: #498463;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding: 18px;
    margin: 24px;
}

#hero a:hover {
    background-color: #498463b6;
    box-shadow: 4px 4px 4px #00000033;
    transform: translateY(-4px);
}

.single-column {
    padding: 24px;
    background-color: black;
    font-family: "Besley", serif;
}

.side-by-side {
    display: flex;
    align-items: center;
    margin: 50px 20px;
}

.side-by-side .image-container {
    flex: 1;
}

.side-by-side .text-container {
    flex: 1;
    padding: 36px;
    color: white;
}

.side-by-side .image-container img {
    width: 500px;
    margin: 24px;
}

.side-by-side .text-container h3 {
    font-size: 40px;
}

.side-by-side .text-container a {
    font-size: 24px;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    background-color: #498463;
    color: white;
    padding: 24px 48px;
}

.side-by-side .text-container a:hover {
    background-color: #498463b6;
    box-shadow: 3px 2px 3px #ffffff87;
    transform: translateY(-4px);
}

#layout {
    max-width: 800px;
    margin: 48px auto;
    text-align: center;
}

#layout h1 {
    color: white;
}

.cropped-grid-gallery {
    border: 10px solid #bb9865;
    background-color: white;
    font-family: "Besley", serif;
}

.box-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
    padding: 24px;
    margin: 0px;
}

.cropped-grid-gallery img {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.cropped-grid-gallery h2 {
    margin-bottom: 0px;
}

.cropped-grid-gallery h3 {
    color: #498463;
    margin-top: 5px;
    margin-bottom: 10px;
}

h1 {
    font-family: "Besley", serif;
    text-shadow: 4px 4px 5px black;
}

.cropped-grid-gallery h4 {
    color: #498463;
    margin-top: 5px;
    margin-bottom: 5px;
}

.side-by-side2 {
    display: flex;
    justify-content: center;
    gap: 100px;
}

#container {
    padding: 24px;
}

#container img {
    height: 400px;
}

@media screen and (max-width: 1082px) {
    .side-by-side {
        flex-direction: column;
    }

    .side-by-side #media {
        order: 1;
    }

    .side-by-side .text-container {
        text-align: center;
        padding: 0px;
    }

    .side-by-side .image-container img {
        margin-bottom: 0px;
    }

    .cropped-grid-gallery {
        margin: 24px;
    }

    .box-container {
        grid-template-columns: 1fr;
        width: 400px;
        margin: 0px auto;
    }
}

@media screen and (max-width: 757px) {
    #header {
        flex-direction: column;
    }

    #header .cta-button {
        margin: 0px 0px 18px 0px;
    }

    #header #logo {
        margin: auto;
    }

    #footer h3 {
        font-size: 14px;
    }

    #hero h2 {
        font-size: 56px;
    }

    #hero h4 {
        font-size: 22px;
    }

    #hero a {
        font-size: 16px;
        margin: 14px;
    }

    .side-by-side .text-container h3 {
        font-size: 30px;
        margin-top: 0px;
    }

    .side-by-side .text-container a {
        font-size: 16px;
        padding: 18px;
    }

    .side-by-side .image-container {
        padding: 0px;
    }

    .side-by-side .image-container img {
        width: 400px;
        margin: 24px 0px;
    }

    .side-by-side2 {
        font-size: 14px;
        padding: 0px 8px;
    }
}

@media screen and (max-width: 448px) {
    #header {
        flex-direction: column;
    }

    #header a {
        font-size: 12px;
    }

    #hero h2 {
        font-size: 40px;
    }

    #hero h4 {
        font-size: 18px;
    }

    #hero a {
        font-size: 12px;
        margin: 5px;
    }

    .side-by-side .image-container img {
        width: 300px;
    }

    .side-by-side .text-container h3 {
        font-size: 20px;
    }

    .side-by-side .text-container a {
        font-size: 14px;
    }

    #footer h3 {
        font-size: 12px;
    }
}