* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#header {
    display: flex;
    align-items: center;
    padding: 0px 0px 0px 36px;
    border-bottom: 1px solid #b9b9b9;
}

#header a {
    color: purple;
}

#header a1 {
    color: red;
}

#header a2 {
    color: #5485f7;
}

#header a3 {
    color: #eeee18;
}

#header a4 {
    color: #0bd80b;
}

#header h6 {
    background-color: white;
    border: 2px solid black;
    border-radius: 36px;
    padding: 10px;
    margin: 24px;
}

#header .bar {
    color: #c6c6c6;
    font-size: 16px;
    padding: 10px 100px;
    margin: 0px 70px;
}

#three-columns {
    display: flex;
}

#column-1 {
    /* background-color: #dae9e9; */
    width: 200px;
    padding: 24px 48px;
}

#column-1 img {
    width: 100px;
    border-radius: 15%;
    padding: 5px 0px;
}

#column-2 {
    /* background-color: aqua; */
    flex: 1;
    padding: 40px 20px;
}

#column-2 img {
    width: 525px;
    border-radius: 25px;
}

#column-3 {
    /* background-color: bisque; */
    flex: 1;
    padding: 24px 48px;
}

#column-3 .text {
    border-bottom: 1px solid #cdcccc;
    padding-bottom: 12px;
}

#column-3 .text a {
    text-decoration: underline;
    color: gray;
}

#column-3 .text a1 {
    color: #579e57;
}

#seller {
    display: flex;
    font-weight: 400;
    background-color: #e9e7e7;
    padding: 5px;
    align-items: center;
}

#seller img {
    border-radius: 100px;
    width: 75px;
    padding: 5px;
}

.seller a {
    color: #656464;
}

#seller .seller {
    margin: 5px 0px;
}

#seller .seller1 {
    margin: 0px;
    font-weight: 300;
    font-size: 12px;
}

.seller1 a {
    text-decoration: underline;
}

.seller1 a:hover {
    color: #0122aa;
}

#column-4 h4 {
    font-weight: 400;
}

#column-4 a {
    color: #0122aa;
}

#column-4 a1 {
    border: 1px solid black;
    padding: 6px 12px;
    border-radius: 8px;
}

.button1 {
    background-color: #4ea0ff;
    color: white;
    padding: 10px 24px;
    text-align: center;
    border-radius: 30px;
    margin: 40px 0px 10px 0px;
}

.button2 {
    border: 2px solid #4ea0ff;
    padding: 10px 24px;
    text-align: center;
    border-radius: 30px;
    margin: 0px;
}

.button3 {
    border: 2px solid #4ea0ff;
    padding: 10px 24px;
    text-align: center;
    border-radius: 30px;
    margin-top: 10px;
}